@media screen and (max-width: 600px) {

    nav{
        width: 100%;
    }
    .nav-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
       
       
    }

    .banner-section {
        width: 85%;
       margin-left: 30px;
       height: 400px;
       padding: 50px 40px;
       

    }
    #hamburger{
        display: inline;
       padding-left: 170px;
       margin-left: 0px;
    

    }
    nav ul a{
        display: none;
    }

    .banner-title {
        padding-top: 0px;
        margin-top: 5px;
        font-size: 45px;
    }

    .banner-des {
        margin-top: 0px;
        width: 100%;
    }

    .banner-form {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }

    #When {
        width: 280px;
    }

    #Type {
        width: 280px;
    }

    .when {
        width: 260px;
    }

    .btn-primary {
        width: 280px;
        margin-left: 18px;

    }

    .popular-tour {
        flex-direction: column;
        width: 100%;
        gap: 50px;
        padding-left: 60px;
    }

    .container img {
        width: 576px;
        height: 300px;
    }
    .destination{
        width: 100%;
        padding-left: 40px;
        
    }
    .deals{
        padding-left: 75px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 0px;
       
    }
    
    .choose-us {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .choose-us-section {
        padding-left: 85px;

    }

    .choose-us-section .card3 {
        width: 82%;

    }
    #shanghai{
      
       width: 90%;
       margin-left: -20px;
    
    }
    .video-icon{
        width: 500px;
    }
    .video-icon >div>img{
        width: 20px;
        height: 20px;
       
    }
    .newsletter {
        flex-direction: column;
        padding-left: 80px;
    }

    #last-img {
        width: 100%;
    }

    .discount {
        width: 55%;
        height: 90px;
       margin-left: 220px;
       padding-bottom: 10px;
       transform: rotate(-30.628deg);
       
    }
    .discount p{
       
        font-size: 15px;
        
    }
.discount h3{
    font-size: 18px;

}
    footer {
        width: 100%;
        padding: 0px 40px;
       
    }

}