/* nav section*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#navicon {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav img {
    width: 59px;
    height: 56px;
}

nav h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    font-family: Mulish;
    align-items: center;


}

nav ul {
    display: flex;


}

nav li {
    list-style: none;
}

nav li>a {
    text-decoration: none;
    padding: 44px;
    color: #424247;
    font-family: Mulish;


    font-size: 18px;
    font-weight: 400;

}

/* banner style*/
.banner-section {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);

    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;


}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 24px;
    margin-bottom: 0px;
}

.banner-des {
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

.banner-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;

    align-items: center;
    gap: 24px;
}
.when{
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
background: #FFF;
width: 160px;
height: 52px;
padding-left: 15px;
margin-left: 22px;

}


.btn-primary{
    border-radius: 8px;
    border: none;
background: #FF5400;
color: #FFF;
text-align: center;
padding: 15px;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
width: 174px;

}

/* main section*/
.popular-tour{
    display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
    width: 1170px;
   

    
}
.popular-tour-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
margin-top: 0px;
}
.tour-des{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
margin-bottom: 0px;

}
.popular-tour ul li{
    padding: 16px;
}
#btn2{
   margin-top: 28px;
}
.destination{
    width: 100%;
    margin-left: auto;
margin-right: auto;
}
.destination-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.destination > p{
    text-align: center;
}
.collage{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin-top: 48px;
  

}
.img-gradient{
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}
#Maldives{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;



}/*
#Indonesia{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;

}
#Srilanka{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;
}
#North{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
height: 286px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;
}
#Kashmir{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;
}
#Bangladesh{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
height: 300px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;

}
#Bandarban{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;;
    height: 300px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
border-radius:15px;


}
*/
.img-gradient {
    background: rgba(19, 19, 24, 0.20) ;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    
  }
  .img-gradient img {
    opacity: 0.5;
    width: 100%;
    transition: opacity 500ms 0ms ease-in-out;
  }
  .gradient-img img:hover { opacity: 1 }
  .container {
    position: relative;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;

  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }